{{#config}}
    
    {
        "title" : "Sweefty.com - Web Applications, Tools and Resources",
        "description" : "Web design resources, UX articles, javascript plugins and free templates",
        "keywords" : "web design, applications, templates, jQuery plugins, UX articles, web development"
    }

{{/config}}

{{> header}}
<div class="container">
    
    <div class="intro row">
        <div class="column grid-12">
            <div class="block">
                <div class="top-sep"></div>

                <div class="splash">
                    <h1>Sweefty!</h1>
                    <h2>Web Applications, Tools and Resources</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">
            
            <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-streamline-umbrella-weather"></div>
                    <h2>Marketing</h2>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-settings-streamline-2"></div>
                    <h2>Development</h2>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-link-streamline"></div>
                    <h2>SEO</h2>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-browser-streamline-window"></div>
                    <h2>Design</h2>
                </div>
            </div>
        </div>
    </div>

    <div style="width:100%;">
        <div>
            <h1 style="margin: 100px 0; text-align:center;line-height:62px;color:#bbb;font-size:38px;">We are a small team with <br/>big passion for web</h1>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="column grid-6">
                <div class="block white">
                    <h1 styles="border-bottom:1px solid #ccc;line-height:62px;">Products</h1>
                    <p>We are in the process of building some cool stuff, our main focus is to build powerful, simple, clean and easy to use SaaS products which target web owners, to be notified about our releases please follow us on twitter <a href="http://twitter.com/sweeftylab" target="blank">@sweeftylab</a></p>
                </div>
            </div>

            <div class="column grid-6">
                <div class="" style="margin-top:80px;">
                    <div class="row">
                        <div class="column grid-6">
                            <div class="block">
                                <h1 class="">Products</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block outline">
                                <h1 class="logo">ChumDesk</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block outline">
                                <h1 class="logo">Feedoor</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block outline">
                                <h1 class="logo">Tempo</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" style="margin-top:100px;">
        <div class="row">
            <div class="column grid-6">
                <div class="" style="margin-top:80px;">
                    <div class="row">
                        <div class="column grid-6">
                            <a href="./scripts/tinytip.html">
                                <div class="block link">
                                    <h1 class="logo">TinyTip</h1>
                                </div>
                            </a>
                        </div>
                        <div class="column grid-6">
                            <a href="./scripts/moaModal.html">
                                <div class="block link">
                                    <h1 class="logo">moaModal</h1>
                                </div>
                            </a>
                        </div>
                        <div class="column grid-6">
                            <a href="./scripts/heat.html">
                                <div class="block link">
                                    <h1 class="logo">heatjs</h1>
                                </div>
                            </a>
                        </div>
                        <div class="column grid-6">
                            <a href="./bare/index.html">
                                <div class="block">
                                    <h1 class="logo">Bare</h1>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column grid-6">

                <div class="block white" style="padding-right:0;padding-left:20px;">
                    
                    <h1 styles="border-bottom:1px solid #ccc;line-height:62px;">Open Source</h1>

                    <p>We love contributing to the open source community, every time we create something
                    and think it will be useful for the community we will give it away for free.
                    </p>
                </div>
            </div>
        </div>
    </div>


    {{> footer}}
</div>
