<div class="header-container">
    <div class="header">
            
    </div>
</div>

<div class="container">
    
    <div class="intro row">
        <div class="column grid-12">
            <div class="block">
                <div class="top-sep"></div>

                <div class="splash">
                    <h1>We Are Sweefty!</h1>
                    <h2>A digital Company Who Create Web Stuff</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="section">
        <div class="row">
            
            <div class="column grid-12">
                <div class="block" style="background:#f9f9f9;border-color:#f9f9f9;">
                    <h2 style="color:#222;">We Do Everything Digital</h2>
                </div>
            </div>
        </div>
    </div> -->

    <div class="section">
        <div class="row">
            
            <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-streamline-umbrella-weather"></div>
                    <h2>Marketing</h2>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-settings-streamline-2"></div>
                    <h2>Development</h2>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-link-streamline"></div>
                    <h2>SEO</h2>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <div class="icon icon-browser-streamline-window"></div>
                    <h2>Design</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="section expression">
        <div class="row">
            <div class="column grid-6">
                <div class="block">
                    <div class="caption">
                    <h1>We Love Our Job</h1>
                    <p>Everytime we create something new, we feel so excited</p>
                    </div>
                    <img src="./assets/images/expression.jpg">
                </div>
            </div>
            <div class="column grid-6">
                <div class="block">
                    <div class="caption">
                    <h1>We Love Our Job</h1>
                    <p>Everytime we create something new, we feel so excited</p>
                    </div>
                    <img src="./assets/images/tools.jpg">
                </div>
            </div>
        </div>
    </div> -->

    <div style="width:100%;">
        <div>
            <h1 style="margin: 100px 0; text-align:center;line-height:62px;color:#bbb;font-size:38px;">We are a small team that creates <br/>beautiful web apps</h1>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="column grid-6">
                <div class="block white">
                    <h1 styles="border-bottom:1px solid #ccc;line-height:62px;">Our Products</h1>
                    <p>Our main focus is to build products that improve the process of web development and marketing, We strive to create simple, clean and easy to use web services.</p>
                    <!-- <a href="#" class="button red">Read More</a> -->
                </div>
            </div>

            <div class="column grid-6">
                <div class="" style="margin-top:80px;">
                    <div class="row">
                        <div class="column grid-6">
                            <div class="block">
                                <h1 class="">Products</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block outline">
                                <h1 class="logo">ChumDesk</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block outline">
                                <h1 class="logo">Feedoor</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block outline">
                                <h1 class="logo">Tempo</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="section">
        <div class="row">
            

            <div class="column grid-6">
                <div class="" style="margin-top:80px;">
                    <div class="row">
                        <div class="column grid-6">
                            <div class="block">
                                <h1 class="logo">Temply</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block">
                                <h1 class="logo">Swiftjs</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block">
                                <h1 class="logo">heatjs</h1>
                            </div>
                        </div>
                        <div class="column grid-6">
                            <div class="block">
                                <h1 class="logo">Bare</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column grid-6">

                <div class="block white" style="padding-right:0;padding-left:20px;">
                    
                    <h1 styles="border-bottom:1px solid #ccc;line-height:62px;">Open Source</h1>

                    <p>We love contributing to the open source community, every time we create something
                    and think it will be useful for the community we will give it away for free.
                    </p>
                    <!-- <a href="#" class="button red">Read More</a> -->
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="section">
        <div class="row">

            <div class="column grid-3">
                <div class="block">
                    <h1 class="">Products</h1>
                    
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <h1 class="logo">ChumDesk</h1>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <h1 class="logo">Feedoor</h1>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <h1 class="logo">Tempo</h1>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="section">
        <div class="row">
            <div class="column grid-12">
                <div class="block">
                    <h2>Open Source</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">

            <div class="column grid-3">
                <div class="block outline">
                    <h1 class="">Temply</h1>
                </div>
            </div>


            <div class="column grid-3">
                <div class="block outline">
                    <h1 class="">Scriptr.js</h1>
                    
                </div>
            </div>

            <div class="column grid-3">
                <div class="block outline">
                    <h1 class="">Swift.js</h1>
                </div>
            </div>

            <div class="column grid-3">
                <div class="block">
                    <h1 class="">More</h1>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="section">
        <div class="row">
            <div class="column grid-12">
                <div class="block blue">
                    <h2>Our Network</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="row">
            <div class="column grid-4">
                <div class="block green">
                    <h2>Temply</h2>
                    <p>Coming Soon</p>
                </div>
            </div>

            <div class="column grid-4">
                <div class="block green">
                    <h2>Feedoor</h2>
                    <p>Coming Soon</p>
                </div>
            </div>

            <div class="column grid-4">
                <div class="block green">
                    <h2>ChumDesk</h2>
                    <p>Coming Soon</p>
                </div>
            </div>
        </div>
    </div> -->
</div>
