{{#config}}
	
	{
		"title" : "Sweefty.com - Open Source Code",
		"description" : "Our Contripution To The Open Source Community"
	}

{{/config}}

{{> header}}

<div class="container">
	
	<div class="intro row">
		<div class="column grid-12">
			<div class="block">
				<div class="top-sep"></div>

				<div class="splash">
					<h1>Open Source</h1>
					<h2>Our Contripution To The Open Source Community</h2>
				</div>
			</div>
		</div>
	</div>
	
	<div class="opensource">
		<div class="section">
			
			
			<div class="row">
				
				<div class="column grid-12">
					<div class="block outline">
						<div class="logo-container">
							<h1 style="" class="logo">
								Heatjs
							</h1>
						</div>

						<div class="info-container">
							<p>heatmap javascript jquey plugin, a very small with lazy loading, built for large data set</p>
							<a href="/scripts/heat.html" class="button blue small">View More</a>
						</div>
					</div>
				</div>

				<div class="column grid-12">
					<div class="block outline">
						<div class="logo-container">
							<h1 style="" class="logo">
								moaModal
							</h1>
						</div>

						<div class="info-container">
							<p>Small, responsive jQuery modal plugin</p>
							<a href="/scripts/moaModal.html" class="button blue small">View More</a>
						</div>
					</div>
				</div>
				<div class="column grid-12">
					<div class="block outline">
						<div class="logo-container">
							<h1 style="" class="logo">
								Tinytip
							</h1>
						</div>

						<div class="info-container">
							<p>Small tooltip jQuery plugin, with no styling</p>
							<a href="/scripts/tinytip.html" class="button blue small">View More</a>
						</div>
					</div>
				</div>

				<div class="column grid-12">
					<div class="block outline">
						<div class="logo-container">
							<h1 style="" class="logo">
								Bare
							</h1>
						</div>

						<div class="info-container">
							<p>Minimal responsive CSS grid</p>
							<a href="/bare" class="button blue small">View More</a>
						</div>
					</div>
				</div>
				
				<div class="column grid-12">
					<div class="block outline">
						<div class="logo-container">
							<h1 style="" class="logo">
								Scriptr
							</h1>
						</div>

						<div class="info-container">
							<p>Tiny Javascript AMD Loader</p>
							<a href="https://github.com/Sweefty/Scriptr" target="_blank" class="button red small">View On Github</a>
						</div>
					</div>
				</div>

				<div class="column grid-12">
					<div class="block outline">
						<div class="logo-container">
							<h1 style="" class="logo">
								Temply
							</h1>
						</div>

						<div class="info-container">
							<p>Static HTML pages creator</p>
							<a href="https://github.com/Sweefty/Temply" target="_blank" class="button red small">View On Github</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{> footer}}
</div>
