<div class="section above_footer">
    <!-- <div class="row">
        <div class="column grid-12">
            <div class="" style="margin-top:20px;">
                <div class="row">
                    <div class="column grid-3">
                        <div class="block">
                            <h1 class="">Sponsors</h1>
                        </div>
                    </div>
                    <div class="column grid-3">
                        <div class="block outline">
                            <h1 class="logo">ChumDesk</h1>
                        </div>
                    </div>
                    <div class="column grid-3">
                        <div class="block outline">
                            <h1 class="logo">Feedoor</h1>
                        </div>
                    </div>
                    <div class="column grid-3">
                        <div class="block outline">
                            <h1 class="logo">Tempo</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
