<div class="footer">
    <div class="row">
        <div class="column grid-6">
            <div class="hello" style="">Contact us</div>
            <div class="hello email"><a href="mailto:hello@sweefty.com">hello@sweefty.com</a> &nbsp;&laquo;&nbsp;&raquo;&nbsp; <a href="http://twitter.com/sweeftylab">@sweeftylab</a></div>
        </div>
        <div class="column grid-6"><div class="flogo"><a href="http://sweefty.com">Sweefty &hearts; you</a></div></div>
    </div>
</div>
