<div class="fixed-overlay"></div>
<div class="fixed-menu">
    <div class="menu-header">
        
        <div class="fixed-menu-button-close">
            <span class="close">x</span>
        </div>

        <span class="text">MENU</span>
        <ul>
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/componenets">Web Componenets</a></li> -->
            <li><a href="/scripts">Open Source</a></li>
            <li><a href="/inspiration/clean-design">Inspiration</a></li>
            <li><a href="/templates">Templates</a></li>
        </ul>
    </div>
</div>

<div class="header-container">
    <div class="header">
        <div class="mainlogo">
            <a href="http://sweefty.com">Sweefty</a>
        </div>

        <div class="fixed-menu-button"><span>+</span></div>
    </div>
</div>
