{{ttt}}
<div class="column grid-6">
	<div class="block temp">
		<img alt="bootstrap css framework" src="{{assets}}/images/awesome/css-framework/bootstrap.png">
		<div class="buttons">
			<a href="https://github.com/Sweefty/template-breeze/archive/master.zip" title="download breeze template" class="button small red">download</a>
			<a href="./breeze" target="_blank" title="breese template demo" class="button small blue">Demo</a>
			<a href="" title="fork breeze template" class="button small green">Fork</a>
		</div>
	</div>
</div>
